@page "/"

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var method in paymentMethods)
        {
            <tr>
                <td>@method.PaymentMethodId</td>
                <td>@method.Name</td>
                <td>@method.CreatedAt.ToString("yyyy-MM-dd")</td>
                <td>@(method.UpdatedAt.HasValue ? method.UpdatedAt.Value.ToString("yyyy-MM-dd") : "N/A")</td>
            </tr>
        }
	</tbody>
</table>

@code {
    private List<PaymentMethod> paymentMethods = new()
    {
        new PaymentMethod
        {
            PaymentMethodId = 1,
            Name = "Cash",
            CreatedAt = DateTime.Now.AddDays(-30),
            UpdatedAt = null,
            IsActive = true
        },
        new PaymentMethod
        {
            PaymentMethodId = 2,
            Name = "Bizum",
            CreatedAt = DateTime.Now.AddDays(-15),
            UpdatedAt = DateTime.Now.AddDays(-2),
            IsActive = true
        },
        new PaymentMethod
        {
            PaymentMethodId = 3,
            Name = "Bank Transfer",
            CreatedAt = DateTime.Now.AddDays(-60),
            UpdatedAt = DateTime.Now.AddDays(-10),
            IsActive = true
        }
    };
}